## **Lab3 - Data Engineering & EDA with Python, SQL, and Pandas**

**Name:** Mandeep Singh Brar  
**Student ID:** 8989367  
**Course Name:** Machine Learning Programming  
**Course Code:** PROG8245

### **Part 1: Data Collection & Database Connection**

#### **1. Create a Free SQL Database**

**1.1 Step by Step for setting up Free SQL database:**  

- Using a Neon.tech for setting up a free Postgre Database for the Lab3.    
- Singup using the Github.  
- Creating a project with the project name, database name and selecting region.     
- Checking connection details on the dashboard, which are used to connect from Python. 

**1.2 Creating a Employee table**

- The table employees contains five fields:
   - **employee_id:** integer, primary key
   - **name:** string
   - **position:** string (IT job titles)
   - **start_date:** date (between 2015 and 2024)
   - **salary:** integer (between $60,000 and $200,000)

         CREATE TABLE employees (    
         employee_id INTEGER PRIMARY KEY,    
         name VARCHAR(50),   
         position VARCHAR(50),   
         start_date DATE,    
         salary INTEGER  
         );

### **2. Generate & Populate Data**

- I am generating the 50 Synthetic employee records with the help of Faker library. 

- Each of the records having a Unique ID, realistic names, random IT job title, starting date between 2015 to 2024 and salary range between $60,000 and $200,000.

In [12]:
!pip install faker

Collecting faker
  Using cached faker-37.3.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in c:\users\singh\appdata\local\programs\python\python312\lib\site-packages (from faker) (2025.2)
Using cached faker-37.3.0-py3-none-any.whl (1.9 MB)
Installing collected packages: faker
Successfully installed faker-37.3.0

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [20]:
import random
import datetime
from faker import Faker

# Initialize Faker for generating fake names for employees
fakedata = Faker()

# List of possible IT-related job positions
positions = [
    'Software Engineer', 'Data Analyst', 'DevOps Engineer', 'ML Engineer', 'QA Engineer',
    'Backend Developer', 'Frontend Developer', 'Cloud Architect', 'SysAdmin', 'Data Scientist'
]

# Define start and end dates as datetime.date objects for the random date generator
start_dt = datetime.date(2015, 1, 1)
end_dt = datetime.date(2024, 6, 1)

# Generate and print 50 SQL INSERT statements with fake employee data
for i in range(50):
    # Generate a random name and escape single quotes for SQL safety
    name = fakedata.name().replace("'", "''")
    # Randomly select a job position
    position = random.choice(positions)
    # Generate a random start date within the specified range
    start_date = fakedata.date_between(start_date=start_dt, end_date=end_dt)
    # Generate a random salary between $60,000 and $200,000
    salary = random.randint(60000, 200000)
    # Print the SQL INSERT statement with generated values
    print(
        f"INSERT INTO employees (name, position, start_date, salary) "
        f"VALUES ('{name}', '{position}', '{start_date}', {salary});"
    )

INSERT INTO employees (name, position, start_date, salary) VALUES ('Daniel White', 'SysAdmin', '2019-03-10', 88456);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Thomas Carson', 'Frontend Developer', '2021-03-07', 141612);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Kim Carroll', 'Data Scientist', '2015-06-05', 140869);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Tyler Baldwin', 'Frontend Developer', '2016-07-16', 114195);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Alicia Gregory', 'Frontend Developer', '2018-04-17', 189747);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Jennifer Massey', 'Frontend Developer', '2018-08-28', 152687);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Michael Reynolds', 'Data Analyst', '2018-10-15', 93892);
INSERT INTO employees (name, position, start_date, salary) VALUES ('William Schroeder', 'Data Scientist', '2022-07-14', 132167);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Diana Wright', 'Data Analyst', '2017-10-17', 196081);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Michelle Allen', 'QA Engineer', '2015-04-27', 102615);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Amber Jacobson', 'Data Scientist', '2015-04-28', 190535);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Kimberly Williams', 'ML Engineer', '2018-03-12', 162216);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Amy Ferguson', 'Cloud Architect', '2020-04-10', 111799);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Stephanie Weber', 'ML Engineer', '2018-03-23', 150649);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Joseph Curry', 'Data Scientist', '2016-06-26', 191640);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Joshua Jones', 'Backend Developer', '2023-12-22', 183357);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Matthew Odonnell DDS', 'QA Engineer', '2023-11-24', 197507);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Jason Robertson', 'Backend Developer', '2022-02-04', 77293);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Virginia Davis', 'SysAdmin', '2020-08-19', 197042);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Kenneth Guzman', 'DevOps Engineer', '2019-11-13', 98700);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Laurie Johnson', 'Cloud Architect', '2020-04-01', 71833);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Eric Austin', 'SysAdmin', '2020-12-22', 70754);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Peter Spence', 'SysAdmin', '2016-06-09', 83945);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Keith Wilson', 'ML Engineer', '2022-01-05', 151608);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Jeffrey Nunez', 'Data Scientist', '2021-12-29', 131168);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Stephen Rodriguez', 'ML Engineer', '2023-05-01', 132203);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Sharon Woods', 'SysAdmin', '2017-05-30', 109258);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Wendy Phelps', 'Data Scientist', '2015-01-02', 136816);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Daniel Thompson', 'Data Analyst', '2019-05-02', 112585);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Jennifer Yates', 'Cloud Architect', '2016-11-16', 149486);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Margaret Oliver', 'Data Analyst', '2019-05-29', 155069);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Shane Clements', 'Software Engineer', '2023-03-10', 100472);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Tracy Acosta', 'Data Scientist', '2018-06-23', 173254);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Lisa Davis', 'ML Engineer', '2021-09-15', 112797);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Andrea Moore', 'Data Analyst', '2015-03-14', 82011);
INSERT INTO employees (name, position, start_date, salary) VALUES ('John Barber', 'ML Engineer', '2016-06-02', 177450);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Mark Baxter', 'QA Engineer', '2018-07-13', 96396);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Alec Olson', 'Cloud Architect', '2022-08-08', 100674);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Justin Harris', 'ML Engineer', '2017-03-13', 93590);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Alexis Powers', 'Cloud Architect', '2017-11-12', 60121);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Wesley Norton', 'ML Engineer', '2018-02-26', 125422);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Jason Willis', 'ML Engineer', '2017-11-04', 107700);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Bridget Watts', 'Cloud Architect', '2015-02-21', 199764);
INSERT INTO employees (name, position, start_date, salary) VALUES ('John Clark DDS', 'Data Scientist', '2018-09-19', 165600);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Angelica Davis', 'Frontend Developer', '2021-09-05', 76074);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Regina Howard', 'Software Engineer', '2016-01-21', 168273);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Laurie Massey', 'QA Engineer', '2023-05-22', 174812);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Renee Kennedy', 'Frontend Developer', '2019-12-07', 153278);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Emily Bailey', 'SysAdmin', '2018-02-11', 61071);
INSERT INTO employees (name, position, start_date, salary) VALUES ('Deanna Moyer', 'Cloud Architect', '2015-07-07', 189727);

In [10]:
%pip install psycopg2-binary pandas

Requirement already satisfied: psycopg2-binary in c:\users\singh\appdata\local\programs\python\python312\lib\site-packages (2.9.10)
Requirement already satisfied: pandas in c:\users\singh\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\singh\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\singh\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\singh\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\singh\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\singh\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip